.App {
  text-align: center;
  background-color: #ffffff;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

html, body {
  background-color: #F9FAFB;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.app-bar span {
	color: white;
}

.app-bar button{
  display: none;
}

.sign-in{
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.quote-video{
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
}

.video-landing {
  margin-top: 20px;
  margin-right: 13px;
}

.testimonal{
  background-color: purple;
  display: flex;
  flex-direction: row;
}

.linktrip-logo{
  margin: 0 auto;
  text-align: center;
  padding: 350px;
  background-image: url('/peru.jpg');
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center;
  color: white;
}


.linktrip-logo h1{
  font-size: 500%
}

input.sigin-in-button{
  background-color: #0090F7;
  border-color: #0090f7;
  color: white;
}

.signin-q{
  font-size: smaller;
  font-style: italic;
}

.persona-header {

margin-top: 5%;

}

.persona-header h2{
  padding: 20px;
}

div.persona-test{

  width: 1200px;
}

.persona{
  background-color: #F9FAFB;
  width: 950px;
  margin: 0 auto;
}


/*@font-face {
  font-family:'norwester';
  font-style: normal;
  font-weight: normal;
  src:
    url('../norwester.ttf') format('ttf')
  }*/

  button.kep-login-facebook.metro{
    padding:7%;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #0090f7;
    border-radius: 4px;
    border-color: #0090f7;
  }

  .persona-q{

    margin-top: 50px;
    font-weight: bolder;
    color:black;
  }

  .persona-header p{
    margin-bottom: 3px;
    font-weight: lighter;
    color:black;
  }

  .persona-header h2{
    color:black;
  }


  .multiple-ops{
    margin-left: 60px;
  }

  .multiple-ops p{
    color:black;
  }

  .question-pp{
    font-weight: bolder;
  }

  .button-primary{
    margin-left: 40%;
    margin-top: 25px;
  }

  .match-made{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
  }

  .match-info{
    margin:0;
  }

  .match-info button {
    margin: 0;
  }

  .match-info p{
    padding-top: 60px;
    margin-left: -15px;
  }

  .match-fb-btn{
    padding-top: 60px;
  }

  .avatar-img{
    margin-top: 25px;
  }

.result-header h4{
  padding-top: 10px;
  text-align: center;
  margin: auto;
}

.result-header p{
  padding: 20px;
  text-align: center;
}

.result-header {
  padding-top: 50px;
  margin-left:500px;
  margin-right: 500px;
}

.result-pg{
    background-color:#F9FAFB;
    height: 100vh;
}

.profile-info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 300px;
  padding-top: 100px;
  padding-left: 39%;
  background-color: #F9FAFB;
  color: black;
}

.profile-bk-btn{
  margin: 0 auto;
}

.profile-personal{
  margin-left: 175px;
}

.profile-personal dt{
  margin-top: 0;
  font-weight: bold;
  font-size: large;
}

.profile-sv-btn{
  margin: 0 auto;
}

.profile-sv-btn button{
  width:184px;
}
.logout{
  display: flex;
  flex-direction: column;
  padding: 300px;
  background-color: #F9FAFB;
  height: 100vh;
}

.logout-header{
  margin-left: 40%;
}

.logout-btn{
  margin-left: 150px;
}

.video-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F9FAFB;
  height:100vh;
}

.video{
  padding-top: 250px;
}

.quote {
  padding: 100px;
  padding-right: 150px;
  font-style: italic;
}

.skip-btn{
  padding-right: 53px;
}

.testimonal{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  background-color: #F9FAFB;
  padding-top: 80px;
  color:black;
}

.testimonal h5 {
  padding: 50px;
  font-style: italic;
  padding-bottom: 0;
  margin-bottom: 0;
}

.testimonal p{
  padding-left: 45%;
}

.test-avatar {
  height:200px;
  margin-right: -66px;
  margin-left: 60px;
}

.quote1{
  margin:60px
}

.quote2{
  margin: 60px;
}

.kep-login-facebook.metro {
  padding: 3%;
  padding-bottom: 3%;
  padding-top: 1%;
  padding-right: 3%;
}

button.kep-login-facebook.metro{
  padding-top:12px;
  padding-bottom: 45px;
  padding-left: 13px;
  padding-right: 13px;
  margin-top: 10px;
  margin-bottom: 13px;
}

.submit-test-btn{
  margin: 0 auto;
}

.profile-btns{
  margin-right: 50%;
}

.logout-header{
  margin-left: 40%;
}

.testi-avatar{
  margin:30px;
}

.gif-logout{
  margin: 0 auto;
}
